a
{
    padding: 10px;
    text-decoration: none;
    color:black;
    align-items: center;
}
.first
{
        background-color: rgb(253, 250, 250);
        padding: 10px;
        width:600px;
        display: flex;
        justify-content: space-between;  
        margin-left: 25%;
        padding: 15px;
         border-radius: 18px; 
        margin-top: 80px;
        opacity: 0.8;
}
 body{
    background-color: silver;
} 
a:hover{
background-color: white;
padding: 8px;
border-radius:30px;
}
h1{
    color: white;
    margin-left: 370px;
}
.body
{
    background-image: url(https://www.shutterstock.com/image-photo/cheerful-little-boy-looking-pointing-260nw-505222396.jpg);
    background-repeat: no-repeat;   
    background-size:cover;
}
.line 
{
    color: aliceblue;
    font-size: x-large;
    margin-top: 230px;
    margin-left: 100px;
}
.button
{
    border-radius: 20px;
    margin-top: 10px;
    margin-left:25%; 

    background-color: brown;
    padding: 6px;
}
.home{
      font-size:;
    color:brown;
    margin-left: 25%;

}
.insta
{
    margin-left: 20%;
}
.icon
{
    background-color: white;
padding: 8px;
border-radius:30px;
}
.content
{
    margin-left: 25%; 
    font-size: 50px; 
}
.address
{
  margin-left:60%;
  position: absolute;
  top: 3px;
  color:white;

}